.heading-table{
    text-align: center;
}

.table-sortable th{
    cursor: pointer;
}

.table-sortable .th-sort-asc:after{
    content: " \25b4";
}

.table-sortable .th-sort-desc:after{
    content: " \25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after{
    margin-left: 5px;
}

.table-sortable .th-sort-acs,
.table-sortable .th-sort-desc{
    background-color: rgba(0,0,0,0.1);
}