.sp{
  text-decoration: underline;
  text-underline-offset: 8px;
}

.square{
  height: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.info{
 height: 160%;
  text-align: center;
}
.row{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.alert{
height: 50%;
}

*, *:before, *:after {
margin:0;
padding:0;
box-sizing: border-box;
}
.underline{
display: inline-block;
padding-bottom: 0.25rem;
position: relative;
color: black;
}
.underline::before{
content: '';
position: absolute;
left: 0;
bottom: 0;
width: 0;
height: 2px;
background-color: black;
transition: width 0.3s ease;
}

.underline:hover::before{
width: 100%;
right: 0;
right: auto;
}

.modal-body img{
  width: 50%;
  height: 50%;
}

