<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../assets/images/shorcut.png" />

    <title>Codashop - Admin Page</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- Main CSS-->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- Table CSS -->
    <link rel="stylesheet" href="../assets/css/table.css">

    <!-- Tampilan Nav-Bar -->
</head>

<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Admin Page
        </a>
        <div class="col text-end">
            <a class="nav-link" href="/auth/logout" style="color: white;">Log Out</a>
        </div>
    </div>
</nav>

<!-- Tampilan Tabel Keterangan -->
<main>
    <div class="row">

        <div class="col-md-5 col-lg-2 square">
            <div class="info">
                <div class="alert alert-info" role="alert">
                    <a href="Semua-pesanan" class="underline text-decoration-none"><b> Semua Pesanan
                        </b></a>
                    <!-- <p><b> 16 </b></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-2 square">
            <div class="info">
                <div class="alert alert-danger" role="alert">
                    <a class="nav-link" href="Belum-Bayar"><b>Belum Dibayar</b></a>
                    <!-- <p><b> 4 </b></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-2 square">
            <div class="info">
                <div class="alert alert-success" role="alert">
                    <a href="Sudah-Bayar" class="underline text-decoration-none"><b>Sudah Dibayar</b></a>
                    <!-- <p><b> 4 </b></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-2 square">
            <div class="info">
                <div class="alert alert-primary" role="alert">
                    <a href="Siap-Dikirim" class="underline text-decoration-none"><b>Siap Dikirim</b></a>
                    <!-- <p><b> 4 </b></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-2 square">
            <div class="info">
                <div class="alert alert-success" role="alert">
                    <a href="Selesai" class="underline text-decoration-none"><b>Selesai</b></a>
                    <!-- <p><b> 4 </b></p> -->
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-2 square">
            <div class="info">
                <div class="alert alert-danger" role="alert">
                    <a href="Kode-Pembayaran-Retail" class="underline text-decoration-none"><b> Kode
                            Tagihan</b></a>
                    <!-- <p><b> 4 </b></p> -->
                </div>
            </div>
        </div>

    </div>
    </div>
</main>
</main>

<!-- Sumber JS -->
<script src="../assets/js/table.js"></script>